/* font-family: 'Press Start 2P', cursive;
font-family: 'Ranchers', cursive; */


body{

  background-color:#364f6b;
  text-align: center;
  font-family: 'Ranchers', cursive;
}
h1{
  font-family: 'Press Start 2P', cursive;
  color: #ff2e63;
}

section{

background-color: #f6f7d7;
border-radius: 5%;
padding: 20px;
margin: 0 30%;


}


.square {
  width: 120px;
  height: 120px;
  border: 10px solid;
  border-radius: 5%;
  margin: 2%;
  border-color: #252a34;
  background-color: #fc5185;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 600px;
  height: 600px;
  margin: 50px auto;
  background-color:  #08d9d6 ;
  border-radius: 5%;
}

.mole {
  background-image: url('mole.jpg');
  background-size: cover;
}

@media (max-width : 800px){


  .square {
  width: 80px;
  height: 80px;
  border: 5px solid;
  border-radius: 5%;
  margin: 1%;
  border-color: #252a34;
  background-color: #fc5185;
}

.grid {

  width: 300px;
  height: 300px;
  margin: 50px auto;
}

section{

padding: 20px;
margin: 0 15%;


}

}